.side
  .side__user-name
    .side__user-name__top-items
      .side__user-name__top-items__name
        masa
      .side__user-name__top-items__icons
        =link_to "#",class:"side__user-name__top-items__icons__btn" do
          =icon('far','edit',class:"side__user-name__top-items__icons__btn--edit")
        =link_to "#",class:"side__user-name__top-items__icons__btn" do
          =icon('fas','cog',class:"side__user-name__top-items__icons__btn--cog")
  .side__group-list
    .side__group-list__group
      .side__group-list__group__group-name
        techcamp
      .side__group-list__group__group-message
        まだメッセージがありません
    .side__group-list__group
      .side__group-list__group__group-name
        techcamp
      .side__group-list__group__group-message
        まだメッセージがありません
    .side__group-list__group
      .side__group-list__group__group-name
        techcamp
      .side__group-list__group__group-message
        まだメッセージがありません