@import "clearfix";

.wrapper{
  display: flex;
}

.chat-side {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  .side-header {
    @include clearfix();
    height: 100px;
    color: white;
    padding: 0 20px;
    &__box {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        display: flex;
        justify-content: flex-end;
        a {
          text-decoration: none;
          color: white;
        }
        li {
          margin-left: 5px;
        }
      }
    }
  }

  .side-group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    &__list {
      font: bold;
      padding: 20px 0 40px;
      a {
        text-decoration: none;
        color: white;
      }
      &__name {
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}